# ——————————————————————————————————————————————————————————————————————————————
# Ambiente virtual
# ——————————————————————————————————————————————————————————————————————————————
.venv/
venv/
env/
ENV/

# ——————————————————————————————————————————————————————————————————————————————
# Byte-compiled / otimizações / caches
# ——————————————————————————————————————————————————————————————————————————————
__pycache__/
*.py[cod]
*$py.class

# ——————————————————————————————————————————————————————————————————————————————
# Testes / Coverage
# ——————————————————————————————————————————————————————————————————————————————
.pytest_cache/
.cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# ——————————————————————————————————————————————————————————————————————————————
# Mypy
# ——————————————————————————————————————————————————————————————————————————————
.mypy_cache/
.dmypy.json
dmypy.log

# ——————————————————————————————————————————————————————————————————————————————
# Distribuição / empacotamento
# ——————————————————————————————————————————————————————————————————————————————
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.whl

# ——————————————————————————————————————————————————————————————————————————————
# Migrações do Alembic
# ——————————————————————————————————————————————————————————————————————————————
migrations/

# ——————————————————————————————————————————————————————————————————————————————
# Editor / IDE
# ——————————————————————————————————————————————————————————————————————————————
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ——————————————————————————————————————————————————————————————————————————————
# Configurações de ambiente
# ——————————————————————————————————————————————————————————————————————————————
.env
.env.*

# ——————————————————————————————————————————————————————————————————————————————
# Arquivos de sistema
# ——————————————————————————————————————————————————————————————————————————————
.DS_Store
Thumbs.db

# ——————————————————————————————————————————————————————————————————————————————
# Logs e outros temporários
# ——————————————————————————————————————————————————————————————————————————————
*.log
